<div class="card p-3">
  <div class="text-center mb-3">
    <h3>Liste des matiéres</h3>
  </div>

  <div class="text-start mb-2">
    <button class="btn btn-success" [routerLink]="['addSubject']">Ajouter matière</button>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-md-2">
      <select id="pageSizeSelect" class="form-select" (change)="changePageSize($event)">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="col-md-9 text-end">
      <span class="text-muted">Total: {{ subjectResponse.totalElements }}</span>
    </div>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Description</th>
      <th>Fichier PDF</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="loading">
      <td colspan="3" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
    </tr>
    <ng-container
      *ngFor="let subject of subjectResponse.content! | paginate: { itemsPerPage: subjectResponse.size!, currentPage: page+1, totalItems: subjectResponse.totalElements };">
      <tr>
        <td>{{ subject.name }}</td>
        <td>{{ subject.description }}</td>
        <td>
          <button *ngIf="subject.pdfFile" class="btn btn-primary btn-sm" (click)="downloadPdf(subject.id)">
            Télécharger
          </button>
          <span *ngIf="!subject.pdfFile" class="badge bg-danger">Non disponible</span>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <pagination-controls
    (pageChange)="loadPage($event)"
    previousLabel="Précédent"
    nextLabel="Suivant"
  ></pagination-controls>
</div>
