.login-container {
  max-width: 400px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #ffffff;
  margin-top: 5%;
}
.login-title {
  margin-bottom: 1.5rem;
  text-align: center;
}
.form-control:focus {
  box-shadow: none;
  border-color: #007bff;
}
.btn-login {
  width: 100%;
}
