<div class="card">
  <div class="card-header">
    <!--    <h5 class="card-title">{{ studentsList[0].className }}</h5>-->
  </div>
  <div class="card-body">

    <div class="col-md-3 d-flex align-items-center gap-2">
      <ng-select
        class="form-select bootstrap-select flex-grow-1"
        [items]="studentsList"
        bindLabel="fullName"
        bindValue="id"
        [(ngModel)]="selectedStudentId"
        [searchable]="true"
        [fixedPlaceholder]="false"
        placeholder="Choisir un étudiant"
      >
      </ng-select>
      <button class="btn btn-success" (click)="addStudentToClass()">
        <div *ngIf="loader" class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <span *ngIf="!loader">Ajouter</span>
      </button>
    </div>

    <button class="btn btn-danger mt-2" (click)="exportToPDF()" [disabled]="loading">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <i *ngIf="!loading" class="bi bi-file-earmark-pdf"></i>
      <span *ngIf="!loading"> Exporter en PDF</span>
    </button>

    <div *ngIf="!isLoading && classStudentResponses && classStudentResponses.length > 0; else noData">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Nom et Prénom</th>
          <th scope="col">Téléphone Élève</th>
          <th scope="col">Téléphone Mère</th>
          <th scope="col">Téléphone Père</th>
        </tr>
        </thead>
        <tbody>
        <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Chargement...</span>
          </div>
        </div>
        <tr *ngFor="let student of classStudentResponses">
          <td>{{ student.firstName }} {{ student.lastName }}</td>
          <td>{{ student.studentPhoneNumber }}</td>
          <td>{{ student.motherPhoneNumber }}</td>
          <td>{{ student.fatherPhoneNumber }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <ng-template #noData>
      <p class="text-muted">Aucun étudiant trouvé.</p>
    </ng-template>
  </div>
</div>
