<div class="container mt-5">
  <div class="card shadow p-4 rounded-4">
    <h4 class="mb-4 text-center">Changer votre mot de passe</h4>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Nouveau mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="newPassword"
        />
      </div>

      <div class="mb-3">
        <label>Confirmer le mot de passe</label>
        <input
          type="password"
          class="form-control"
          formControlName="confirmPassword"
        />
        <div class="text-danger" *ngIf="form.hasError('passwordMismatch') && form.touched">
          Les mots de passe ne correspondent pas
        </div>
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="form.invalid || isLoading">
        <span *ngIf="!isLoading">Changer le mot de passe</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <span *ngIf="isLoading"> Chargement...</span>
      </button>

    </form>
    
  </div>
</div>
