<div class="card p-3">
  <div class="text-center mb-3">
    <h3>Liste des rôles</h3>
  </div>
  <div class="row align-items-center mb-3">
    <div class="col-md-2">
      <select id="pageSizeSelect" class="form-select" (change)="changePageSize($event)">
        <option value="10" selected>10</option>
        <option value="20">20</option>
        <option value="30">30</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
    <div class="col-md-9 text-end">
      <span class="text-muted">Total: {{ roleResponse.totalElements }}</span>
    </div>
  </div>

  <table class="table table-hover">
    <thead >
    <tr>
      <th>Nom du rôle</th>
      <th>Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngIf="loading">
      <td colspan="2" class="text-center">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </td>
    </tr>
    <ng-container *ngFor="let role of roleResponse.content! | paginate: { itemsPerPage: roleResponse.size!, currentPage: page+1, totalItems: roleResponse.totalElements };">
      <tr>
        <td>{{ role.name }}</td>
        <td>{{ role.description }}</td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <pagination-controls
    (pageChange)="loadPage($event)"
    previousLabel="Précédent"
    nextLabel="Suivant"
  ></pagination-controls>
</div>
