<div class="container mt-3">
  <div class="row">

    <div class="col-md-4">
      <h3 class="custom-title">
        <i class="bi bi-person-fill"></i> Étudiant
      </h3>
      <p><strong><i class="bi bi-person-fill"></i> Prénom :</strong> {{ studentRequest.firstName }}</p>
      <p><strong><i class="bi bi-person-fill"></i> Nom :</strong> {{ studentRequest.lastName }}</p>
      <p><strong><i class="bi bi-calendar"></i> Date de naissance
        :</strong> {{ studentRequest.birthDate | date:'dd/MM/yyyy' }}</p>
      <p><strong> <i class="bi bi-card-text">Cin/Passeport :</i></strong> {{ studentRequest.identityNumber }}</p>
      <p><strong><i class="bi bi-envelope-fill"></i> Email :</strong> {{ studentRequest.email }}</p>
      <p><strong><i class="bi bi-book-fill"></i> Niveau d'éducation :</strong> {{ studentRequest.levelOfEducation }}</p>
      <p><strong><i class="bi bi-telephone-fill"></i> Numéro de téléphone :</strong> {{ studentRequest.phoneNumber }}
      </p>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">
        <i class="bi bi-person-fill"></i> Mère
      </h3>
      <p><strong><i class="bi bi-telephone-fill"></i> Numéro de téléphone :</strong> {{ motherRequest.phoneNumber }}</p>
      <p><strong><i class="bi bi-person-fill"></i> Prénom :</strong> {{ motherRequest.firstName }}</p>
      <p><strong><i class="bi bi-person-fill"></i> Nom :</strong> {{ motherRequest.lastName }}</p>
      <p><strong><i class="bi bi-briefcase-fill"></i> Profession :</strong> {{ motherRequest.profession }}</p>
      <p><strong><i class="bi bi-envelope-fill"></i> Email :</strong> {{ motherRequest.email }}</p>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">
        <i class="bi bi-person-fill"></i> Père
      </h3>
      <p><strong><i class="bi bi-telephone-fill"></i> Numéro de téléphone :</strong> {{ fatherRequest.phoneNumber }}</p>
      <p><strong><i class="bi bi-person-fill"></i> Prénom :</strong> {{ fatherRequest.firstName }}</p>
      <p><strong><i class="bi bi-person-fill"></i> Nom :</strong> {{ fatherRequest.lastName }}</p>
      <p><strong><i class="bi bi-briefcase-fill"></i> Profession :</strong> {{ fatherRequest.profession }}</p>
      <p><strong><i class="bi bi-envelope-fill"></i> Email :</strong> {{ fatherRequest.email }}</p>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">
        <i class="bi bi-people-fill"></i> Informations sur la famille
      </h3>
      <p><strong><i class="bi bi-heart-fill"></i> Statut matrimonial :</strong>
        <span [ngSwitch]="motherRequest.maritalStatus">
          <span *ngSwitchCase="'MARRIED'">Marié(e)</span>
          <span *ngSwitchCase="'DIVORCED'">Divorcé(e)</span>
          <span *ngSwitchCase="'WIDOWED'">Veuf(ve)</span>
          <span *ngSwitchDefault>Non spécifié</span>
        </span>
      </p>
      <p><strong><i class="bi bi-house-heart-fill"></i> État des parents :</strong></p>
      <p><strong><i class="bi bi-person-x-fill"></i> Mère décédée
        :</strong> {{ motherRequest.isDeceased ? 'Oui' : 'Non' }}</p>
      <p><strong><i class="bi bi-person-x-fill"></i> Père décédé
        :</strong> {{ fatherRequest.isDeceased ? 'Oui' : 'Non' }}</p>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">Adresse</h3>
      <p><strong>Ville:</strong> {{ addressRequest.city }}</p>
      <p><strong>Rue:</strong> {{ addressRequest.street }}</p>
      <p><strong>Code postal:</strong> {{ addressRequest.zipCode }}</p>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">Liste des documents</h3>
      <p *ngFor="let doc of documents">
        <span>{{ doc.name }}</span>
      </p>
    </div>
    <div class="col-md-4">
      <h3 class="custom-title">frais d'inscription</h3>
      <span>{{ registrationFeesFromChild }} TND</span>
    </div>

    <div class="col-md-4">
      <h3 class="custom-title">Specialité</h3>
      <span>{{ specialtyName }}</span>
    </div>

  </div>

</div>
